<!DOCTYPE html>
<html>
<head>
  <base href="." />
  
  <title>Road Toll Project</title>

   <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 
  <!-- Latest compiled and minified bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional bootstrap theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



  <!-- Latest compiled and minified bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link href="./app.css" rel='stylesheet' type='text/css'>
 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

  

  <!-- app controller -->
  <script src="./app.js"></script>
    

</head>

<body ng-cloak ng-controller="TollRoadController">  

<div align="center">
<span style="color: black">Regualtor Portal</span> |
<a href="operator.html">Operator Portal</a> |
<a href="vehicle.html">Vehicle Portal</a> |
<a href="toolBooth.html">Toll Booth Portal</a>
</div> 
<br/>

<div align="center">
 <h1> <span class="black"> <b>Regulator Portal </b></span></h1>   
 <h6><span style="color: #777;">(Regulator address: {{account}})</span>
 </h6>
 </div> 

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
    
       <h5>Selected Account</h5>
         <form id="accountForm" ng-submit="setAccount()">
                  &nbsp;
                  <select name="account"  ng-model="accountInSelect" required>
                    <option ng-repeat="account in accounts" value="{{ account }}">
                    {{ account }}
                    </option>
                  </select>
                  <input type="submit" class="btn btn-primary addnew" value="Select Account For Action">
          </form>  
          <h6>(account selected: {{ accountSelected }})</h6>
          <h6>(selected account Balance (wei): {{ balance }}) <span style="color: #777;"></span></h6>
        
                
        <div style="color:#0000FF">
        <br />
        <h4>Vehicle Types</h4>
        </div> 

        <form id="setVehicleType" ng-submit="setVehicleType()">
          <input type="text" name="newVehicleType"     ng-model="newVehicleType"     placeholder="Type of vehicle" size="10" required />
          <h6>This account's vehicle type is: {{ currVehicleType }}
          </h6>
          <input type="submit" class="btn btn-primary addnew" value="Add new vehicle">
        </form>
        <br/>

        <table class="table table-striped table-bordered">
          <tr>
            <th>Event</th>
            <th>Vehicle Address</th>
            <th>Vehicle Type</th>
          </tr>
          <tr ng-repeat="vehicleInfo in newVehicleLog">
                <td>{{ vehicleInfo.event }}</td>
                <td>{{ vehicleInfo.args.vehicle }}</td>
                <td>{{ vehicleInfo.args.vehicleType }}</td>
          </tr>
        </table>
             
        <div style="color:#0000FF">
        <h4>Toll Booth Operators</h4>
        </div>
        
        <form id="operatorForm" ng-submit=" setNewOperator()">
              &nbsp;

          <input type="text" name="depositInWei"     ng-model="depositInWei"     placeholder="Deposit In Wei" size="10" required />
          <input type="submit" class="btn btn-primary addnew" value="Create new Toll Booth Operator">
          <h6>Number of Operators: {{numOfOperators}}</h6>
        </form>

         <table class="table table-striped table-bordered">
          <tr>
            <th>Event</th>
            <th>Operator Address</th>
            <th>Owner Address</th>
            <th>Deposit in Wei</th>
          </tr>
          <tr ng-repeat="operatorInfo in newOperatorLog">
            <td>{{ operatorInfo.event }}</td>
            <td>{{ operatorInfo.args.newOperator}}</td>
            <td>{{ operatorInfo.args.owner}}</td>
            <td>{{ operatorInfo.args.depositWeis }}</td>
          </tr>
        </table>
       </div>
    </div>
  </div>

  <script>
    window.addEventListener('load', function() {
      angular.bootstrap(document, ['TollRoadApp'])
    });
  </script>



</body>

</html>