<html>
<head>
  <title>Road Toll Project</title>
    <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 
  <!-- Latest compiled and minified bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional bootstrap theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">



  <!-- Latest compiled and minified bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link href="./app.css" rel='stylesheet' type='text/css'>
 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>


  <!-- app controller -->
  <script src="./app.js"></script>
  <script src="./appOperator.js"></script>

</head>

<body ng-cloak ng-controller="TollRoadController">  

<div align="center">
<a href="index.html">Regualtor Portal</a> |
<span style="color: black">Operator Portal</span> |
<a href="vehicle.html">Vehicle Portal</a> |
<a href="toolBooth.html">Toll Booth Portal</a>
</div> 
<br/>

 <h1> <span class="black"> <b>Operator Portal </b></span></h1>
<h6><span style="color: #777;">(Operator address: {{account}})</span>
 </h6>
 </div> 

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
       <div style="color:#0000FF">
       <h4>Selceted Operator</h4>
       </div>
         <form id="accountForm" ng-submit="setOperator()">
            &nbsp;
            <select   ng-model="operatorInSelect" 
            ng-options="x.operator for x in operators"
            ng-init="operatorInSelect = operators[0]">
            <input type="submit" class="btn btn-primary addnew" value="Select Operator Address">
          </form>  
          <h6>(operator selected: {{ operator }})</h6>
          <h6>(owner of operator selected: {{ operatorOwner }})</h6>
          <h6>(selected operator Balance (wei): {{ operatorBalance }}) <span style="color: #777;"></span></h6>
        
        <br/>

        <h4>Unpause Operator</h4>
        <form id="unpauseForm"  ng-submit="unpauseOperator()">
              &nbsp;
          <input type="submit" ng-disable="!pausedOperator" class="btn btn-primary addnew" value="Unpause Operator" >
          <h6>Current operator pause state: {{pausedOperator}}</h6>
        </form>

        <br/>
        <div style="color:#0000FF">
        <h4>Toll Booths</h4>
        </div>
        
        <form id="addTollBoothsForm" ng-submit="addTollBooth()">
              &nbsp;

          <input type="text" name="tollBoothAddress"     ng-model="tollBoothAddress"     placeholder="New Toll Booth Address" size="10" required />
          <input type="submit" class="btn btn-primary addnew" value="Add Toll Booth To Operator">
          <h6>Number of Booth under current operator: {{numOfBooths}}</h6>
        </form>

        <table class="table table-striped table-bordered">
          <tr>
            <th>Event</th>
            <th>Sender Address</th>
            <th>Booth Address</th>
          </tr>
          <tr ng-repeat="addBoothInfo in newBoothLog">
            <td>{{ addBoothInfo.event }}</td>
            <td>{{ addBoothInfo.args.sender }}</td>
            <td>{{ addBoothInfo.args.tollBooth }}</td>
          </tr>
        </table>

        <br/>
        <br/>
        <div style="color:#0000FF">
        <h4>Route Pricing</h4>
        </div>

        <form id="setRoutePriceForm" ng-submit="setRoutePrice()">
              &nbsp;

         <input type="text" name="setEntryBooth" ng-model="setEntryBooth"     placeholder="Entry Booth Address" size="10" required />

         <input type="text" name="setExitBooth" ng-model="setExitBooth"     placeholder="Exit Booth Address" size="10" required />

          <input type="text" name="priceInWei"     ng-model="priceInWei"  placeholder="Route Price in Wei" size="10" required />
          <input type="submit" class="btn btn-primary addnew" value="Set route price">
          <h6>current route price for booths defined: {{currentRoute}}</h6>
        </form>

        <br/>
        <br/>
        <div style="color:#0000FF">
        <h4>Multipliers</h4>
        </div>

        <form id="setMultiplierForm" ng-submit="setMultiplier()">
              &nbsp;

         <input type="text" name="setTypeValue" ng-model="setTypeValue"     placeholder="Enter Vehicle Type" size="10" required />

         <input type="text" name="setMulValue" ng-model="setMulValue"     placeholder="Enter Multiplier Value" size="10" required />
          
          <input type="submit" class="btn btn-primary addnew" value="Set Multiplier">
          <h6>Multiplier of {{ multiplierOfType }} was defined</h6>

        </form>


      </div>
   </div>
  </div>

 <script>
    window.addEventListener('load', function() {
      angular.bootstrap(document, ['TollRoadApp'])
    });
  </script>

</body>

</html>